## Dans les commits add on va ignorer le fichier "Database" qui contient la config de connexion
## personnelle à chacun.

/Projet-ABI/model/Database.php

## et puis hop le dossier ".vscode"

.vscode/*